.ban {
    box-sizing:border-box;
    min-height: 800px;
    background-color: #5D1A93;
    background-image: url(../../assets/img/background01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;  
    border-bottom: 10px solid #000;
    padding-top: 120px;
    padding-left: 90px;    
}

.ban .wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.ban .box {
    margin-bottom: 40px;
}

.ban .navigation {
    display: flex;
    justify-content: space-around;
}