.banner {
    box-sizing:border-box;
    height:787px;
    background-image: url(../../assets/img/background01.jpg);
    background-size: 100%;  
    border-bottom: 10px solid rgb(230, 194, 194);
    padding-top: 120px;
    padding-left: 90px;    
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}