.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #F25A70;
    text-shadow:4px 2px 0 #000;
}

.main-title.-second {
color: #000;
font-size: 40px;
text-shadow: none;
text-align: center;
}